/*load in custom fonts*/

@font-face {
  font-family       : Univers-TextType;
  src               : url('fonts/UniversLTStd.otf');
}

@font-face {
  font-family       : Univers-CondensedBold;
  src               : url('fonts/UniversLTStd-BoldCn.otf');
}

@font-face {
  font-family       : Univers-Condensed;
  src               : url('fonts/UniversLTStd-Cn.otf');
}

/*------- BODY AND BACKGROUND STYLING -------*/

.section {
	height           : 20%;
	min-width        : 1000px;
	overflow         : hidden;
	position         : relative;
}

#sectionOne { /* Main */
	background       : white url("img/bg-EngineeringBld.jpg") no-repeat center top;
	background-size  : cover;
}

#sectionOne #content {
   background       : rgba( 41, 41, 41, .4 );
   border           : 2px solid white;
	border-radius    : 5px;
   box-shadow       : 2px 2px 3px rgb( 61, 61, 61 );
	height           : 31vh;
	margin           : auto; /* centers the stuff horz */
   min-width        : 600px;
	padding          : 10px;
	position         : absolute;
	top: 0; left: 0; bottom: 90; right: 0;
	width            : 60vw;
}

#sectionOne #content img {
   height           : 25vh;
	width            : 40vh;
	border-right     : 2px solid white;
	padding-right    : 2vw;
}

#sectionOne #content #sectionOneParticles {
	/* TODO: setup particles here. */
}

#sectionOne #content p {
   font-size        : 1.5em;
   margin-left      : auto;
   margin-right     : auto;
   margin-top       : 3vh;
   text-shadow      : 2px 2px 5px rgb( 41, 41, 41 );
   text-align       : center;
}

#sectionTwo { /* Schedule */
	background       : green url("img/bg-1.jpg") no-repeat center top;
	background-size  : 100% 100%;
   text-shadow      : 2px 2px 5px rgb( 41, 41, 41 );
}

#sectionTwo #content { 
	margin-bottom    : 10vh;
	margin-left      : 10vw;
	margin-right     : 10vw;
	margin-top       : 10vh; 
   overflow         : hidden;
	position         : absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
 
#sectionTwoHeader {
   border-bottom    : 1px solid white;
   box-shadow       : 1px 1px 5px rgb( 41, 41, 41 );
   font-size        : 3em;
   margin-bottom    : 5vh;
   text-align       : center;
}

#schedule {
   padding          : 1vh;
}

#scheduleHeader {
   text-align       : center;
}

#scheduleSaturday {
   background       : rgba( 41, 41, 41, 0.4 );
   margin-left      : auto;
   margin-right     : 10vw;
}

#scheduleSunday {
   background       : rgba( 41, 41, 41, 0.4 );
}

#sectionThree { /* Hackathon */
	background       : white url("img/bg-2.jpg") no-repeat center top;
	background-size  : 100% 100%;
}

#sectionThree #content {
	margin           : auto;
	margin-left      : 15%;
	margin-top       : 6.5em;
}
 
#sectionFour {
	background       : white url("img/bg-3.jpg") no-repeat center top;
	background-size  : 100% 100%;
}

#sectionFour #content {
	margin           : auto; /* centers the stuff horz */
	margin-left      : 15%;
	margin-top       : 6.5em;
	text-shadow      : 0px 0px 6px #000000;
}
 
#sectionFive { /* Sponsors */
	background       : white url("img/bg-4.jpg") no-repeat center top;
	background-size  : 100% 100%;
}

#particles-js {
	background-image : url(particles-js/);
	background-size  : 100% 100%;
	background-repeat: no-repeat;
   z-index          : 10;
}

#sectionFive #content {
	margin           : 0 auto;
}

#sectionFive * img {
	background       : rgba( 0, 0, 0, 1 );
	border           : 3px solid white;
	border-radius    : 100%;
	box-shadow       : 1px 1px 5px #000000;
	padding          : 1vh;
}

#sectionFive #gold img {
	width            : 50vh;
	height           : 50vh;
}

#sectionFive #silver img {
	width            : 25vh;
	height           : 25vh;
}

#sectionFive #bronze img {
	width            : 8vh;
	height           : 8vh;
}

/*------- TOP NAVIGATION BAR -------*/

nav {
  background-color  : rgba( 41, 41, 41, .4 );
  border-bottom     : 1px solid black;
  display           : block; 
  font-family       : Univers-Condensed, sans-serif;
  font-size         : 1.4em;
  height            : 2em;
  margin            : auto;
  min-width         : 1000px;
  position          : fixed;
  top               : 0;
  width             : 100%;
}

nav ul {
	margin           : auto;
	margin-top       : 0.5em;
	text-align       : center;
	text-decoration  : none;
	padding          : 0;
}

nav ul li {
	border-left      : 1px solid white;
	display          : inline;
   padding-top      : 0.1em;
	padding-left     : 1em;
	padding-right    : 1em;
}

nav ul li:first-child {
	border-left      : 0px solid white;
	margin-left      : 0em;
	padding-left     : 0px;
}

nav ul li a {
	color             : white;
	text-decoration   : none;
}

nav ul li a:hover {
	color            : black; 
}

/* End nav bar */

html {
	font-family      : Univers-TextType;
	color            : white;
}

body {
  margin            : 0;
  padding           : 0;
  background        : white; 
}

main {
	height           : 500vh;
}
