/*load in custom fonts*/

@font-face {
  font-family       : Univers-TextType;
  src               : url('fonts/UniversLTStd.otf');
}

@font-face {
  font-family       : Univers-CondensedBold;
  src               : url('fonts/UniversLTStd-BoldCn.otf');
}

@font-face {
  font-family       : Univers-Condensed;
  src               : url('fonts/UniversLTStd-Cn.otf');
}

/*------- BODY AND BACKGROUND STYLING -------*/

section {
	height           : 100vh;
	/*min-width        : 1000px;*/
   overflow         : hidden;
	position         : relative;
   text-shadow      : 2px 2px 5px rgb( 41, 41, 41 );
}

.sectionHeader {
   border-bottom    : 1px solid white;
   font-size        : 4.5vw;
   font-weight      : normal;
   margin-bottom    : 5vh;
   text-align       : center;

   /*border           : 1px dashed blue; */
}

.content {
   /*border           : 1px dashed red; */
}

#sectionOne {
	background       : white url("img/bg-secOne.jpg") no-repeat center top;
	background-size  : cover;
}

#sectionOne .content {
   font-size        : 5vw;
	margin           : auto; /* centers the stuff horz */
   margin-top       : 35vh;
	width            : 60vw;
}

#sectionOne .content * {
   display          : inline;
}

#sectionOne img {
	border-right     : 2px solid white;
	padding-right    : 2vw;
	width            : 18vw;

   /*border:2px dashed yellow;*/
}

#sectionOne .content p {
   font-size        : 1.5em;
   position         : relative;
   text-align       : center;
   top              : -3.5vw;
   vertical-align   : middle;
   width            : 40vw;

   /*border:1px dashed red;*/
}

#sectionTwo { /* Schedule */
	background       : white url("img/bg-secTwo.jpg") no-repeat center bottom;
	background-size  : cover;
}

#sectionTwo .content { 
   font-size        : 2vw;
	margin-bottom    : 10vh;
	margin-left      : 10vw;
	margin-right     : 10vw;
	margin-top       : 10vh; 
   overflow         : hidden;

   /*border: 1px dashed blue;*/
}
 
#sectionTwo .event {
   padding-left     : 3vw;
}

#scheduleSaturday {
   display          : inline;
   float            : left;
   margin-left      : 5vw;

   /*border: 1px dashed green;*/
}

#scheduleSunday {
   display          : inline;
   float            : right;
   margin-right     : 5vw;

   /*border: 1px dashed yellow;*/
}

#sectionThree { /* Hackathon */
	background       : white url("img/bg-secThree.jpg") no-repeat center top;
	background-size  : cover;
}

#sectionThree .content {
   font-size        : 2vw;
	margin-bottom    : 10vh;
	margin-left      : 10vw;
	margin-right     : 10vw;
	margin-top       : 10vh; 
   overflow         : hidden;

   /*border: 1px dashed blue;*/
}
 
#sectionFour {
	background       : white url("img/bg-secFour.jpg") no-repeat center top;
	background-size  : cover;
}

#sectionFour .content {
   font-size        : 2vw;
	margin-bottom    : 10vh;
	margin-left      : 10vw;
	margin-right     : 10vw;
	margin-top       : 10vh; 
   overflow         : hidden;

   /*border: 1px dashed blue;*/
}

#sectionFive { /* Sponsors */
	background       : white url("img/bg-secFive.jpg") no-repeat center bottom;
	background-size  : cover;
}

#sectionFive .content {
	margin           : 0 auto;
}

/*------- TOP NAVIGATION BAR -------*/

nav {
  background-color  : rgba( 0, 0, 0, .4 );
  border-bottom     : 1px solid black;
  display           : block; 
  font-family       : Univers-Condensed, sans-serif;
  font-size         : 1.4em;
  height            : 2em;
  margin            : auto;
  min-width         : 700px;
  position          : fixed;
  top               : 0;
  width             : 100%;
}

nav ul {
	margin           : auto;
	margin-top       : 0.5em;
	text-align       : center;
	text-decoration  : none;
	padding          : 0;
}

nav ul li {
	border-left      : 1px solid white;
	display          : inline;
   padding-top      : 0.1em;
	padding-left     : 1em;
	padding-right    : 1em;
}

nav ul li:first-child {
	border-left      : 0vw solid white;
	margin-left      : 0vw;
	padding-left     : 0vw;
}

nav ul li a {
	color             : white;
	text-decoration   : none;
}

nav ul li a:hover {
	color            : rgb( 41, 41, 41 );
}

/* End nav bar */

html {
	font-family      : Univers-TextType;
	color            : white;
}

body {
  height            : 500vh;
  margin            : 0;
  padding           : 0;
  background        : white; 
}
